/*

.contact-info {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.social-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-size: 3.5em;
  box-shadow: 0px 0px 15px black inset;
}

*/